<header class="max-w-full">
    <div class="flex flex-row items-center justify-around">
        <Logo />
        <Search />
        <NavPlus />
    </div>
    <div class="flex justify-center">
        <NavMenu />
    </div>
</header>