<NavLink href="/" class="flex flex-row items-center">
    <img src="/css/logo.svg" width="60" height="60" alt="Logo" class="object-contain" />
    <span class="text-2xl font-bold text-gray-200">Cell Mania</span> <!-- Cambia text-gray-500 a text-gray-200 -->
</NavLink>