@inherits LayoutComponentBase
@inject IJSRuntime Js

<div>
    <div>
        <SideBar />
    </div>

   
    <main class="relative min-h-screen bg-cover bg-center" style="background-image: url('/css/theme-background.jpg');">
        <div class="relative">
            @Body
        </div>
    </main>

</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Js.InvokeVoidAsync("window.initializeFlowbite");
        }
    }
}
