@using EccomercePage.Api.Repository
@using EccomercePage.Api.Repository.States
@* Parameters *@


@code{
    [Parameter] public decimal Total { get; set; }
    [Parameter] public int TotalProducts { get; set; }
}

<aside>
    <h5>Resumen de Compra</h5>
    <div class="flex flex-col">
        <div class="flex justify-between">
            <span>Productos(@TotalProducts)</span>
            <span>S/ @Total</span>
        </div>
        <div class="flex justify-between">
            <span>Total</span>
            <span>S/ @Total</span>
        </div>
    </div>
</aside>